[submodule "plugins/dotbot"]
	path = plugins/dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "plugins/dotbot-brewfile"]
	path = plugins/dotbot-brewfile
	url = https://github.com/sobolevn/dotbot-brewfile.git
	ignore = dirty
[submodule "plugins/dotbot-ghq"]
	path = plugins/dotbot-ghq
	url = https://github.com/klane/dotbot-ghq.git
	ignore = dirty
[submodule "plugins/dotbot-apt"]
	path = plugins/dotbot-apt
	url = https://github.com/bryant1410/dotbot-apt
	ignore = dirty
[submodule "plugins/dotbot-golang"]
	path = plugins/dotbot-golang
	url = https://github.com/delicb/dotbot-golang
	ignore = dirty
